appdirs==1.4.4
astroid==2.5.1
click==7.1.2
distlib==0.3.1
dnspython==2.1.0
Events==0.4
filelock==3.0.12
Flask==1.1.2
isort==5.7.0
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.5.2
libvirt-python==7.1.0
MarkupSafe==1.1.1
mccabe==0.6.1
ptyprocess==0.7.0
pylint==2.7.2
python-dotenv==0.15.0
python-engineio==4.0.0
simplejson==3.17.2
six==1.15.0
toml==0.10.2
waitress==1.4.4
Werkzeug==1.0.1
wrapt==1.12.1
zope.event==4.5.0
zope.interface==5.2.0
