
.draggable {
  background: #c5c5c5;
  width: 180px;
  padding: 0 0 0 40px;
  color: #000000;
  line-height: 50px;
  cursor: url("https://www.google.com/intl/en_ALL/mapfiles/openhand.cur"), all-scroll;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
  -moz-transition: -moz-transform 0.2s, box-shadow 0.2s;
  -o-transition: -o-transform 0.2s, box-shadow 0.2s;
  -webkit-transition: -webkit-transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 5px;
  -moz-box-shadow: #000000 0 0 3px;
  -webkit-box-shadow: #000000 0 0 3px;
  box-shadow: #000000 0 0 3px;
}
.draggable:hover {
  -moz-transform: scale(1.03, 1.03);
  -ms-transform: scale(1.03, 1.03);
  -webkit-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
  -moz-box-shadow: #000000 0 1px 3px;
  -webkit-box-shadow: #000000 0 1px 3px;
  box-shadow: #000000 0 1px 3px;
}
.draggable:active {
  cursor: url("https://www.google.com/intl/en_ALL/mapfiles/closedhand.cur"), all-scroll;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0 2px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0 2px 8px;
  box-shadow: rgba(0, 0, 0, 0.7)x 8px;
}
.draggable:before {
  content: '.';
  position: absolute;
  left: 14px;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-shadow: 0 5px #000000, 0 10px #000000, 5px 0 #000000, 5px 5px #000000, 5px 10px #000000, 10px 0 #000000, 10px 5px #000000, 10px 10px #000000;
}

.shot {
  position: absolute;
}