body {
	background-color: #f1f6f7;
	margin-left: 14px;
	font-family: "IBM Plex Sans", sans-serif;
}

p1 {
	font-size: 16px;
	margin: 4px 0px 4px;
}

form {
	display: inline-block;
}

h2 {
	margin: 8px 0px 6px;
}
h2 a {
	color: #080808;
	text-decoration: none;
	font-weight: 550;
}
h2 a:hover {
	color: #585858;
}

h4 {
	font-size: 17px;
	font-weight: 600;
	margin: 3px 0px 3px;
	display: inline-block;
}

input {
	font-size: 13px;
	margin: 4px 0px 4px;
}

select {
	background-color: #f5f5f5;
	border-radius: 3px;
}

div[id^='circle'] {
	width: 13px;
	height: 13px;
	border-radius: 13px;
	display: inline-block;
	box-shadow: 0 0 1px 0.5px #9b9b9b;
}

#createnew {
	padding-top: 20px;
}

#load, #load_interface, #resetPosition, #removeAll, #dhcp_button {
	background-color: #e09696;
	color: #000000;
	padding: 3px 20px;
	border-width: 0px;
	border-radius: 7px;
	outline: none;
}

#load:hover, #load_interface:hover, #resetPosition:hover, #removeAll:hover, #dhcp_button:hover {
	box-shadow: #000000 0 0 2px;
	transition: box-shadow 0.1s;
}

.control {
	background-color: inherit;
	height: 25px;
	width: 25px;
	border: none;
	border-radius: 4px;
	padding: 0;
	outline: none;
}

.control:disabled {
	opacity: 40%;
	color: #919191;
}

.control img {
	height: inherit;
	width: inherit;
}

.connections {
	display: block;
	left: 4px;
}

.connections img {
	position: relative;
	top: 2px;
	left: 2px;
	height: 15px;
	width: 15px;
}

.input_number {
	width: 35px;
	border-width: 2px;
	border-radius: 4px;
}

#submit {
	background-color: #008afc;
	color: #ffffff;
	font-size: 16px;
	font-weight: 620;
	padding: 11px 26px;
	border-width: 0px;
	border-radius: 12px;
	outline: none;
}

#submit:hover {
	box-shadow: #000000 0 0 3px;
}

#new_vm_numbers {
	padding: 9px 0px 5px;
}

#num_r, #num_pc {
	width: 35px;
}

#routers_new, #pcs_new {
	padding-bottom: 5px;
}

#router_new, #pc_new {
	background-color: #e6e6e6;
	padding: 1px 5px 5px 5px;
	margin: 4px 0px 4px;
	color: #000000;
	transition: transform 0.2s, box-shadow 0.2s;
	border-radius: 4px;
	box-shadow: #000000 0 0 3px;
	display: inline-block;
}

#router_name, #pc_name {
	padding-left: 2px;
}

.draggable {
	background-color: #e6e6e6;
	padding: 3px 10px 5px 35px;
	margin: 4px 5px 4px 0px;
	color: #000000;
	cursor: url(cursors/openhand.cur), all-scroll;
	cursor: grab;
	transition: transform 0.3s, box-shadow 0.3s;
	border-radius: 4px;
	box-shadow: #000000 0 0 3px;
	display: inline-block;
}

#routers, #pcs {
	margin-bottom: 10px;
}

.draggable:hover {
	transform: scale(1.02, 1.02);
	box-shadow: #000000 0 1px 3px;
}

.draggable:active {
	cursor: url(cursors/closedhand.cur), all-scroll;
	cursor: grabbing;
	transform: scale(1.05, 1.05);
	box-shadow: #000000b3 8px;
}

.draggable:before {
	position: absolute;
	top: 0;
	left: 10px;
	margin-top: 10%;
	content: '.';
	font-size: 21px;
	color: #4e4e4e;
	text-shadow: 0 5px #4e4e4e, 0 10px #4e4e4e, 5px 0 #4e4e4e, 5px 5px #4e4e4e, 5px 10px #4e4e4e, 10px 0 #4e4e4e, 10px 5px #4e4e4e, 10px 10px #4e4e4e;
}

div[id^='line_'] {
	position: absolute;
	background-color: teal;
	line-height: 1px;
	padding: 0px;
	margin: 0px;
	height: 4px;
	z-index: -1;
}