{% include 'head.html' %}

{% block head %}{% endblock %}

<h2><a href="{{ url_for('index') }}">LabOnLine</a></h2>

{% if session['active_r'] != [] or session['active_pc'] != [] %}
	<button type="submit" id="resetPosition" onclick="resetPosition()">Reset position</button>
	<form action="{{ url_for('domains_cleanup') }}">
		<button type="submit" id="removeAll" onclick="deleteCookies()">Remove all</button>
	</form>
	<form action="{{ url_for('leases') }}">
		<button type="submit" id="dhcp_button">DHCP Leases</button>
	</form><br /><br />
{% endif %}

{% block devices %}
<div id="routers">
	{% for p in range(session['active_r']|length): %}
		{% set dom = session['active_r'][p]|string %}
		<div id="{{ dom }}" class="draggable">
			<div id="router_name">
				<h4>{{ (session['active_r'][p])|string }}</h4>
				<div id="circle_{{ session['active_r'][p]|string }}"></div>
			</div>
			<div id="router_specs">
				
				<script>
					$(document).ready(function(){
						var domain = "{{ dom }}";
						var p = "{{ p }}";
						var status_r = {{ status_r|safe }};
						if (status_r[p] == '5') {
							$("#shutdown_" + domain).attr("disabled", "disabled");
							$("#console_" + domain).attr("disabled", "disabled");
							$("#circle_" + domain).attr("style", "background-color: #d7292f")
						}
						if (status_r[p] == '1') {
							$("#start_" + domain).attr("disabled", "disabled");
							$("#circle_" + domain).attr("style", "background-color: #009e26");
						}
					});
				</script>
				
				<form target="_blank" action="{{ url_for('xterm', domain = dom) }}" method="POST">
					<button type="submit" class="control" id="console_{{ dom }}" value="Console">
						<img src="{{ url_for('static', filename = 'icons/icons8-console-48.png') }}" />
					</button>
				</form>
				<form action="{{ url_for('domain_remove', domain = dom) }}" method="POST">
					<button type="submit" class="control">
						<img src="{{ url_for('static', filename = 'icons/icons8-delete-48.png') }}" />
					</button>
				</form>
				<form action="{{ url_for('domain_start', domain = dom) }}" method="POST">
					<button type="submit" class="control" id="start_{{ dom }}">
						<img src="{{ url_for('static', filename = 'icons/icons8-start-48.png') }}" />
					</button>
				</form>
				<form action="{{ url_for('domain_shutdown', domain = dom) }}" method="POST">
					<button type="submit" class="control" id="shutdown_{{ dom }}">
						<img src="{{ url_for('static', filename = 'icons/icons8-pause-squared-48.png') }}" />
					</button>
				</form>
				{% for i in range((active_net_r[p])|int): %}
					<div class="connections">
						<img src="{{ url_for('static', filename = 'icons/icons8-wired-network-48.png') }}" />
						<p1>{{ session['active_netconf_r'][p][i] }}</p1>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</div>
<div id="pcs">
	{% for p in range(session['active_pc']|length): %}
		{% set dom = session['active_pc'][p]|string %}
		<div id="{{ dom }}" class="draggable">
			<div id="pc_name">
				<h4>{{ (session['active_pc'][p])|string }}</h4>
				<div id="circle_{{ session['active_pc'][p]|string }}"></div>
			</div>
			<div id="pc_specs">
				<script>
					$(document).ready(function(){
						var domain = "{{ dom }}";
						var p = "{{ p }}";
						var status_pc = {{ status_pc|safe }};
						if (status_pc[p] == '5') {
							$("#shutdown_" + domain).attr("disabled", "disabled");
							$("#console_" + domain).attr("disabled", "disabled");
							$("#circle_" + domain).attr("style", "background-color: #d7292f")

						}
						if (status_pc[p] == '1') {
							$("#start_" + domain).attr("disabled", "disabled");
							$("#circle_" + domain).attr("style", "background-color: #009e26");
						}
					});
				</script>
				<form target="_blank" action="{{ url_for('xterm', domain = dom) }}" method="POST">
					<button type="submit" class="control" id="console_{{ dom }}" value="Console">
						<img src="{{ url_for('static', filename = 'icons/icons8-console-48.png') }}" />
					</button>
				</form>
				<form action="{{ url_for('domain_remove', domain = dom) }}" method="POST">
					<button type="submit" class="control">
						<img src="{{ url_for('static', filename = 'icons/icons8-delete-48.png') }}" />
					</button>
				</form>
				<form action="{{ url_for('domain_start', domain = dom) }}" method="POST">
					<button type="submit" class="control" id="start_{{ dom }}">
						<img src="{{ url_for('static', filename = 'icons/icons8-start-48.png') }}" />
					</button>
				</form>
				<form action="{{ url_for('domain_shutdown', domain = dom) }}" method="POST">
					<button type="submit" class="control" id="shutdown_{{ dom }}">
						<img src="{{ url_for('static', filename = 'icons/icons8-pause-squared-48.png') }}" />
					</button>
				</form>
				{% for i in range((active_net_pc[p])|int): %}
					<div class="connections">
						<img src="{{ url_for('static', filename = 'icons/icons8-wired-network-48.png') }}" />
						<p1>{{ session['active_netconf_pc'][p][i] }}</p1>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</div>

{% endblock %}

{% block body %}{% endblock %}

{% block createnew %}{% endblock %}

<script>
	$(".draggable").draggable({
		drag: function() {
			document.querySelectorAll("div[id^=line_]").forEach(e => e.remove());
			areConnected();
		},
		stop: function(event, ui) {
			var deviceID = this.id;
			document.cookie = deviceID + '=' + JSON.stringify(ui.position);
		}
	});

	function getCookie(cname) {
		var name = cname + '=';
		var ca = document.cookie.split(';');
		for(var i=0; i<ca.length; i++) {
			var c = ca[i].trim();
			if (c.indexOf(name)==0) return c.substring(name.length,c.length);
		}
	}	

	$(document).ready(function() {
		var active_r_json = {{ session['active_r']|safe }};
		var active_pc_json = {{ session['active_pc']|safe }};
		const initial_position = {"top":0,"left":0};

		for (var i = 0; i < active_r_json.length; i++) {
			var exists = getCookie(active_r_json[i])
			if (!exists) {
				document.cookie = active_r_json[i] + '=' + JSON.stringify(initial_position);
			} else {
				$("#" + active_r_json[i]).css({ top: JSON.parse(getCookie(active_r_json[i])).top, left: JSON.parse(getCookie(active_r_json[i])).left });
			}
		}
		for (var i = 0; i < active_pc_json.length; i++) {
			var exists = getCookie(active_pc_json[i])

			if (!exists) {
				document.cookie = active_pc_json[i] + '=' + JSON.stringify(initial_position);
			} else {
				$("#" + active_pc_json[i]).css({ top: JSON.parse(getCookie(active_pc_json[i])).top, left: JSON.parse(getCookie(active_pc_json[i])).left });
			}
		}
		areConnected();
	});
	
	function areConnected() {
		var active_r_json = {{ session['active_r']|safe }};
		var active_pc_json = {{ session['active_pc']|safe }};
		var active_netconf_r_json = {{ active_netconf_r_json|safe }};
		var active_netconf_pc_json = {{ active_netconf_pc_json|safe }};
		var allDevices = active_r_json.concat(active_pc_json);
		var allInterfaces = active_netconf_r_json.concat(active_netconf_pc_json);

		var devices = new Array;
		var interfaces = new Array;
		for (i = 0; i < allDevices.length; i++) {
			for (j = i + 1; j < allDevices.length; j++) {
				devices.push([allDevices[i], allDevices[j]]);
				interfaces.push(allInterfaces[i].concat(allInterfaces[j]));
			}
		}

		for (const[i, interface] of interfaces.entries()) {
			var setOf = new Set(interface);
			if (setOf.size !== interface.length && interface !== 'NAT' && ((active_r_json.length !== 0 && (devices[i][0][0] !== 'P' || devices[i][1][0] !== 'P')) || (active_r_json.length === 0 && (devices[i][0][0] == 'P' || devices[i][1][0] == 'P')))) {
				var div1 = document.getElementById(devices[i][0]);
				var div2 = document.getElementById(devices[i][1]);
				connect(div1, div2);
			}
		}
	}

	function getOffset(el) {
		var rect = el.getBoundingClientRect();
		return {
			left: rect.left + window.pageXOffset,
			top: rect.top + window.pageYOffset,
			width: rect.width || el.offsetWidth,
			height: rect.height || el.offsetHeight
		};
	}

	function connect(div1, div2) {
		var off1 = getOffset(div1);
		var off2 = getOffset(div2);
		// bottom right
		var x1 = off1.left + off1.width/2;
		var y1 = off1.top + off1.height/2;
		// top right
		var x2 = off2.left + off2.width/2;
		var y2 = off2.top + off2.height/2;
		var length = Math.sqrt(((x2-x1) * (x2-x1)) + ((y2-y1) * (y2-y1)));
		// center
		var cx = ((x1 + x2)/2) - (length/2);
		var cy = ((y1 + y2)/2) - (4/2);
		var angle = Math.atan2((y1-y2),(x1-x2))*(180/Math.PI);

		var line = "<div id='line_" + div1.id + "_" + div2.id + "' style='"
			+ "left: " + cx + "px; top: " + cy + "px; width: "
			+ length + "px; transform: rotate(" + angle + "deg);' />";
		$(div1).after(line);
	}

	function resetPosition() {
		var routers = {{ session['active_r']|safe }};
		var pcs = {{ session['active_pc']|safe }};
		const initial_position = {"top":0,"left":0};
		
		for (var i = 0; i < routers.length; i++) {
			document.cookie = routers[i] + '=' + JSON.stringify(initial_position);
		}
		for (var i = 0; i < pcs.length; i++) {
			document.cookie = pcs[i] + '=' + JSON.stringify(initial_position);
		}
		window.location.reload();
	}

	function deleteCookies() {
		var allCookies = document.cookie.split(';');
		for (var i = 0; i < allCookies.length; i++) {
			document.cookie = allCookies[i] + "=;expires=" + new Date(0).toUTCString();
		}
	}
</script>