{% extends 'base.html' %}

{% block head %}

<title>{{ domain }} Console | LabOnLine</title>
<link rel='stylesheet' href="{{ url_for('static', filename='node_modules/xterm/css/xterm.css')}}" />
<script src="{{ url_for('static', filename='node_modules/xterm/lib/xterm.js')}}"></script>
<meta charset="utf-8">
<link rel="stylesheet" href="https://unpkg.com/xterm@3.6.0/dist/xterm.css" />

{% endblock %}


{% block body %}

<span style="font-size: 1.4em;">{{ domain }}</span>&nbsp;&nbsp;&nbsp;
<span style="font-size: small;">status: <span style="font-size: small;" id="status">connecting...</span></span>

<div style="width: 100%; height: calc(100% - 50px);" id="terminal"></div>

<!-- xterm -->
<script src="https://unpkg.com/xterm@3.6.0/dist/xterm.js"></script>
<script src="https://unpkg.com/xterm@3.6.0/dist/addons/fit/fit.js"></script>
<script src="https://unpkg.com/xterm@3.6.0/dist/addons/webLinks/webLinks.js"></script>
<script src="https://unpkg.com/xterm@3.6.0/dist/addons/fullscreen/fullscreen.js"></script>
<script src="https://unpkg.com/xterm@3.6.0/dist/addons/search/search.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>


<script>
  Terminal.applyAddon(fullscreen)
  Terminal.applyAddon(fit)
  Terminal.applyAddon(webLinks)
  Terminal.applyAddon(search)
  const term = new Terminal({
        cursorBlink: true,
        macOptionIsMeta: true,
        scrollback: true,
    });
  term.open(document.getElementById('terminal'))
  term.fit()
  term.resize(15, 50)

  var data = '{{ data }}'

  /*
  term.on('key', (key, ev) => {
    socket.emit("pty-input", {"input": key})
  });
  */

  term.on('key', (key, ev) => {
    console.log(key.charCodeAt(0));
      if (key.charCodeAt(0) == 13)
      socket.emit("pty-input", {"input": key})
      term.write(key);
  });


  const socket = io.connect('/pty')
  const status = document.getElementById("status")

 
  console.log(data)

  socket.on('pty-output', function(data){
    term.write(data)
  })


  //term.write(data)
  socket.on("connect", () => {
    fitToscreen()
    status.innerHTML = '<span style="background-color: lightgreen;">connected</span>'
    }
  )

  socket.on("disconnect", () => {
    status.innerHTML = '<span style="background-color: #ff8383;">disconnected</span>'
  })

  function fitToscreen(){
    term.fit()
    socket.emit("resize", {"cols": term.cols, "rows": term.rows})
  }

  function debounce(func, wait_ms) {
    let timeout
    return function(...args) {
      const context = this
      clearTimeout(timeout)
      timeout = setTimeout(() => func.apply(context, args), wait_ms)
    }
  }

  const wait_ms = 50
  window.onresize = debounce(fitToscreen, wait_ms)


</script>


{% endblock %}