{% extends 'base.html' %}

{% block head %}
<title>Created | LabOnLine</title>
{% endblock %}


{% block body %}


<p>{{number}} domains have been created</p>

<table id="domains_created">
    {% for p in range(number|int): %}
    <tr>
        <td><h4>R{{p+1}}</h4></td>
    </tr>
    <tr>
        <td>
            <p1>Number of interfaces: {{net_list[5*p+2]}}</p1>
            <form target="_blank" action="https://10.0.1.{{p+1}}:4200/">
                <input type="submit" id="console" value="Console"></input>
            </form>
        </td>
    </tr>
    {% endfor %}

</table>


{% endblock %}