{% extends 'base.html' %}

{% block head %}
<title>Created | LabOnLine</title>
{% endblock %}


{% block body %}

{% if number == '0' %}
    <p></p>
{% elif number == '1' %}
    <p>{{number}} domain has been created</p>
{% else %}
    <p>{{number}} domains have been created</p>
{% endif %}

<table id="active_table">
    {% for p in range(session['active_domains']|length): %}
    <tr>
        <td><h4>R{{p+1}}</h4></td>
    </tr>
    <tr>
        <td>
            <p1>Number of interfaces: {{ active_net_list[p] }}</p1>
            {% for i in range((active_net_list[p])|int): %}
                <br /><p1>{{ active_net_list_conf[p][i] }}</p1>
            {% endfor %}
            {% set dom = 'r' + (p+1)|string %}
                <form target="_blank" action="{{ url_for('xterm', domain = dom) }}" method="POST">
                <input type="submit" id="console" value="Console"></input>
                <input type="hidden" name="hid" value="{{p+1}}" />
            </form>
        </td>
    </tr>
    {% endfor %}
 </table>

<br /><a href="{{ url_for('domains_cleanup') }}">Remove</a> all domains

{% endblock %}