{% extends 'base.html' %}

{% block head %}
<title>Created | LabOnLine</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/drag.css') }}">
{% endblock %}


{% block body %}
{% if number == '0' %}
   <p1></p1>
{% elif number == '1' %}
   <p1>{{number}} domain has been created</p1>
{% else %}
   <p1>{{number}} domains have been created</p1>
{% endif %}

<br /><a href="{{ url_for('domains_cleanup') }}">Remove</a> all domains
<br /><br />
{% for p in range(session['active_r']|length): %}
   <div class="draggable">R{{ (session['active_r'][p])|string }}</div><br />
{% endfor %}

<script>
   $(function() {
      $(".draggable").draggable();
   });
</script>

{% endblock %}