{% extends 'base.html' %}

{% block head %}
<title>Home | LabOnLine</title>
{% endblock %}


{% block body %}

<table id="active_table">
   {% for p in range(session['active_domains']|length): %}
   <tr>
       <td><h4>R{{ (session['active_domains'][p])|string }}</h4></td>
   </tr>
   <tr>
      <td>
         {% set dom = 'R' + session['active_domains'][p]|string %}
         <form target="_blank" action="{{ url_for('xterm', domain = dom) }}" method="POST">
            <input type="submit" id="console" value="Console"></input>
            <input type="hidden" name="hid" value="{{ p+1 }}" />
         </form>
         <form action="{{ url_for('domain_start', domain = dom) }}" method="POST">
            <input type="submit" value="Start"></input>
            <input type="hidden" name="hid" value="{{ p+1 }}" />
         </form>
         <form action="{{ url_for('domain_shutdown', domain = dom) }}" method="POST">
            <input type="submit" value="Shutdown"></input>
            <input type="hidden" name="hid" value="{{ p+1 }}" />
         </form>
         <form action="{{ url_for('domain_remove', domain = dom) }}" method="POST">
            <input type="submit" value="Remove"></input>
            <input type="hidden" name="hid" value="{{ p+1 }}" />
         </form><br />
         <p1>Number of interfaces: {{ active_net_list[p] }}</p1>
         {% for i in range((active_net_list[p])|int): %}
            <br /><p1>{{ session['active_net_list_conf'][p][i] }}</p1>
         {% endfor %}
      </td>
   </tr>
   {% endfor %}
</table>

<form method="POST">
   <p>Select number of domains to create
   {% if session['active_domains'] != [] %}
      or <a href="{{ url_for('domains_cleanup') }}">remove</a> all domains</p>
   {% endif %}

   <p>Press Load to configure network interfaces:</p>
   <input name="nm" id="nm" type=number value=1 min=1 max=24>
   <p1 id="number" hidden="hidden"></p1>
   <button type="button" id="load">Load</button>
   <table id="net_conf">
   </table>
   <p><input type="submit" disabled="disabled" id="submit" value="Submit"></p>
</form>

<script>
   $("#load").click(function(){
      $("#load").remove();
      $("#nm").attr("hidden", "hidden");
      param = $("#nm").val();
      $("#number").removeAttr("hidden");
      $("#number").append(param);
      for (var i=0; i<param; i++) {
         $("#net_conf").append("<tr><td><h4>R" + ({{ session['active_domains']|length }} + i + 1) + "</h4></td></tr>");
         $("#net_conf").append("<tr><td class=\"net" + (i+1) + "\"><p1>Number of interfaces:</p1> <p1 id=\"number_int_" + (i+1) + "\" hidden=\"hidden\"></p1><input name=" + "\"net" + (i+1) + "\" id=" + "\"net" + (i+1) + "\" type=number value=1 min=1 max=4 /></td></tr><br />");
      }
      $("#net_conf").append("<br /><button type=\"button\" id=\"load_interface\">Load interface selection</button>");
   });
   $(document).on("click", "#load_interface", function(){
      $("#load_interface").remove();
      $("#submit").removeAttr("disabled");
      var net_arr = new Array();
      for (i=0; i<param; i++) {
         net_arr[i] = parseInt($("#net" + (i+1)).val());
         $("#net" + (i+1)).attr("hidden", "hidden");
         $("#number_int_" + (i+1)).append(net_arr[i]);
         $("#number_int_" + (i+1)).removeAttr("hidden");
         for (j=0; j<net_arr[i]; j++) {
            $("#net_conf tr:odd .net" + (i+1)).append("<br><p1>net" + (j+1) + ": </p1><select selected=\"nat\" name=\"interface_type\" id=\"interface_type\"><option value=\"nat\">NAT</option><option value=\"hostonly\">Host-Only</option><option value=\"bridge\">Bridge</option><option value=\"internal1\">Internal1</option><option value=\"internal2\">Internal2</option><option value=\"internal3\">Internal3</option><option value=\"internal4\">Internal4</option><option value=\"internal5\">Internal5</option><option value=\"internal6\">Internal6</option><option value=\"internal7\">Internal7</option><option value=\"internal8\">Internal8</option></select>");
         }
      }
   });
</script>

{% endblock %}