{% extends 'base.html' %}

{% block head %}
<title>Home | LabOnLine</title>
{% endblock %}


{% block createnew %}
<div id="createnew">
	<form method="POST">
		<p1>Select the number of VMs to create</p1>
		<br />
		<p1>Press Load to configure network interfaces:</p1>
		<div id="new_vm_numbers">
			<p1>Routers:</p1>
			<input name="num_r" id="num_r" class="input_number" type=number value=1 min=0 max=24>
			<p1 id="number_r" hidden="hidden"></p1>
			<p1>PCs:</p1>
			<input name="num_pc" id="num_pc" class="input_number" type=number value=1 min=0 max=24>
			<p1 id="number_pc" hidden="hidden"></p1>
			<button type="button" id="load">Load</button>
			</div>
		<div id="routers_new"></div>
		<div id="pcs_new"></div>
		<button type="button" id="load_interface" hidden="hidden">Load interface selection</button><br />
		<input type="submit" hidden="hidden" id="submit" value="Submit">
	</form><br />
</div>


<script>
	$("#load").click(function(){
		$("#load").remove();
		$("#load_interface").removeAttr("hidden");

		$("#num_r").attr("hidden", "hidden");
		num_r = $("#num_r").val();
		$("#number_r").removeAttr("hidden");
		$("#number_r").append(num_r);
		var last_number_r = new Array;
		var domains_r = {{ session['active_r']|safe }};
		var domains_r_only = new Array;
		for (var i=0; i<domains_r.length; i++) {
			if (domains_r[i].startsWith('R')) {
				domains_r_only.push(parseInt(domains_r[i].match(/\d+/)));
			}
		}
		domains_r_only.sort();
		for (var i=1; i<=domains_r_only.length+num_r; i++){
			if (domains_r_only.indexOf(i) == -1) {
				if (last_number_r.length <= num_r) {
					last_number_r.push(i);
				} else {
					break;
				}
			}
		}

		for (var i=0; i<num_r; i++) {
			$("#routers_new").append('<div id="router_new"><div id="router_name">'
				+ '<h4 id="name_r' + (i+1) + '" hidden="hidden"></h4>'
				+ '<input name="name_r" id="input_name_r' + (i+1)
				+ '" class="input_name" type="text" value="R' + (last_number_r[i])
				+ '"></input></div><div id="r' + (i+1) + '_specs"><p1>Number of interfaces: </p1>'
				+ '<p1 id="number_int_r' + (i+1) +'" hidden="hidden"></p1><input name='
				+ '"net_r" id="net_r' + (i+1) + '" class="input_number" type=number'
				+ ' value=1 min=1 max=4 /></div></div><br />');
		}

		$("#num_pc").attr("hidden", "hidden");
		num_pc = $("#num_pc").val();
		$("#number_pc").removeAttr("hidden");
		$("#number_pc").append(num_pc);
		var last_number_pc = new Array;
		var domains_pc = {{ session['active_pc']|safe }};
		var domains_pc_only = new Array;
		for (var i=0; i<domains_pc.length; i++) {
			if (domains_pc[i].startsWith('PC')) {
				domains_pc_only.push(parseInt(domains_pc[i].match(/\d+/)));
			}
		}
		domains_pc_only.sort();
		for (var i=1; i<=domains_pc_only.length+num_pc; i++){
			if (domains_pc_only.indexOf(i) == -1) {
				if (last_number_pc.length <= num_pc) {
					last_number_pc.push(i);
				} else {
					break;
				}
			}
		}
		for (var i=0; i<num_pc; i++) {
			$("#pcs_new").append('<div id="pc_new"><div id="pc_name">'
				+ '<h4 id="name_pc' + (i+1) + '" hidden="hidden"></h4>'
				+ '<input name="name_pc" id="input_name_pc' + (i+1)
				+ '" class="input_name" type="text" value="PC' + (last_number_pc[i])
				+ '"></input></div><div id="pc' + (i+1) + '_specs"><p1>Number of interfaces: </p1>'
				+ '<p1 id="number_int_pc' + (i+1) +'" hidden="hidden"></p1><input name='
				+ '"net_pc" id="net_pc' + (i+1) + '" class="input_number" type=number'
				+ ' value=1 min=1 max=4 /></div></div><br />');
		}
	});
	$(document).on("click", "#load_interface", function(){
		$("#load_interface").remove();
		$("#submit").removeAttr("hidden");
		var interface_select = '</p1><select name="interface_type" id="interface_type">'
			+ '<option value="LAN1" selected="selected">LAN1</option>'
			+ '<option value="LAN2">LAN2</option>'
			+ '<option value="LAN3">LAN3</option>'
			+ '<option value="LAN4">LAN4</option>'
			+ '<option value="LAN5">LAN5</option>'
			+ '<option value="LAN6">LAN6</option>'
			+ '<option value="LAN7">LAN7</option>'
			+ '<option value="LAN8">LAN8</option>'
			+ '<option value="LAN9">LAN9</option>'
			+ '<option value="LAN10">LAN10</option>'
			+ '<option value="WAN1">WAN1</option>'
			+ '<option value="WAN2">WAN2</option>'
			+ '<option value="WAN3">WAN3</option>'
			+ '<option value="WAN4">WAN4</option>'
			+ '<option value="WAN5">WAN5</option>'
			+ '<option value="WAN6">WAN6</option>'
			+ '<option value="WAN7">WAN7</option>'
			+ '<option value="WAN8">WAN8</option>'
			+ '<option value="WAN9">WAN9</option>'
			+ '<option value="WAN10">WAN10</option>'
			+ '<option value="NAT">NAT</option>'
			+ '<option value="hostonly">Host-Only</option>'
			+ '<option value="bridge">Bridge</option>'
			+ '<option value="NAT Network 1">NAT Network 1</option>'
			+ '<option value="NAT Network 2">NAT Network 2</option>'
			+ '<option value="NAT Network 3">NAT Network 3</option>'
			+ '<option value="NAT Network 4">NAT Network 4</option></select>';


		var name_r = new Array();
		var net_arr_r = new Array();
		for (i=0; i<num_r; i++) {
			name_r[i] = $("#input_name_r" + (i+1)).val();
			net_arr_r[i] = parseInt($("#net_r" + (i+1)).val());
			$("#input_name_r" + (i+1)).attr("hidden", "hidden");
			$("#name_r" + (i+1)).append(name_r[i]);
			$("#name_r" + (i+1)).removeAttr("hidden");
			$("#net_r" + (i+1)).attr("hidden", "hidden");
			$("#number_int_r" + (i+1)).append(net_arr_r[i]);
			$("#number_int_r" + (i+1)).removeAttr("hidden");
			for (j=0; j<net_arr_r[i]; j++) {
				$("#r" + (i+1) + "_specs").append("<br><p1>Interface " + (j+1) + ": " + interface_select);
			}
		}
		var name_pc = new Array();
		var net_arr_pc = new Array();
		for (i=0; i<num_pc; i++) {
			name_pc[i] = $("#input_name_pc" + (i+1)).val();
			net_arr_pc[i] = parseInt($("#net_pc" + (i+1)).val());
			$("#input_name_pc" + (i+1)).attr("hidden", "hidden");
			$("#name_pc" + (i+1)).append(name_pc[i]);
			$("#name_pc" + (i+1)).removeAttr("hidden");
			$("#net_pc" + (i+1)).attr("hidden", "hidden");
			$("#number_int_pc" + (i+1)).append(net_arr_pc[i]);
			$("#number_int_pc" + (i+1)).removeAttr("hidden");
			for (j=0; j<net_arr_pc[i]; j++) {
				$("#pc" + (i+1) + "_specs").append("<br><p1>Interface " + (j+1) + ": " + interface_select);
			}
		}
	});
</script>
{% endblock %}