{% include 'head.html' %}

{% block body %}

<h2><a href="{{ url_for('index') }}">LabOnLine</a></h2><br />
<h4>DHCP Leases:</h4>
<div id="dhcp_leases">
	<table style="border: none;">
		{% for network, leases in active_net_leases.items(): %}
			<tr><td>{{ network }}</td></tr>
			{% for lease in leases: %}
				<tr>
				{% for i in lease: %}
					<td>{{ i }} &nbsp;</td>
				{% endfor %}
				</tr>	
			{% endfor %}
		{% endfor %}
	</table>
</div>

<script>
	setInterval('windowReload()', 3000);
	function windowReload() {
		$('#dhcp_leases').load(location.href + ' #dhcp_leases');
	}
</script>

{% endblock %}